.hero_titleContainer {
  display: inline;
  height: 400px;
  outline: 0;
  filter: brightness(0.8);
  animation-name: filtro2;
  animation-duration: 4s;
  animation-delay: 2s;
}

.hero_image {
  display: inline;
  height: 400px;
  outline: 0;
  filter: brightness(0.8);
  animation-name: filtro2;
  animation-duration: 4s;
  animation-delay: 2s;
}